{% extends '::base_layout_graph.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['bar']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', "{{ chartData.titles|join('","')| raw }}"],

                {% for year, value in chartData.years %}
                ['{{ year|e }}', {{ value|join(',') }}],
                {% endfor %}
            ]);

            var options = {
                chart: {
                    title: '',
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}
{% block main %}
    <div id="columnchart_material" style="width: 100%; height: 500px;"></div>
{% endblock %}
