<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}MOF MLD{% endblock %}</title>

    {% block stylesheets %}

        {% stylesheets filter="scssphp" output="css/app.css"
        "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
        "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
        "%kernel.root_dir%/Resources/assets/css/*.css"
        "%kernel.root_dir%/Resources/assets/scss/main.scss"
        "%kernel.root_dir%/Resources/assets/scss/crud.scss" %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container" style="margin-top: 10px">
                <div class="row">
                    <div class="col-lg-4">
                        <a class="navbar-brand" href="{{ path('homepage') }}" style="padding-top: 5px;">
                            <table>
                                <tr>
                                    <td><img width="80" src="/images/logo.png"></td>
                                    <td style="font-size: 14px;padding:10px;vertical-align: top">Lebanon Ministry of
                                        Finance<br>
                                        Multi Level Dash board
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </div>
                    <div class="col-lg-4 text-center">
                        <img width="400px" style="margin: 0 auto;" class="img-responsive img-rounded"
                             src="{{ asset('images/europ.png') }}">
                    </div>
                    <div class="col-lg-4 text-right text-success">
                        {% if app.user %}
                            Welcome {{ app.security.getToken().getUser().getFirstname() }} {{ app.security.getToken().getUser().getLastname() }}
                        {% endif %}
                    </div>
                </div>
                {% if app.user %}
                    {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active', 'ancestorClass': 'active'}) }}
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}

<div class="container body-container">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% elseif app.session.flashBag.has('error') %}
        <div class="alert alert-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-12">
                {% block main %}{% endblock %}
            </div>
        </div>
    {% endblock %}

</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - MOF</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {% javascripts filter="?jsqueeze" output="js/app.js"
    "%kernel.root_dir%/Resources/assets/js/jquery-2.1.4.js"
    "%kernel.root_dir%/Resources/assets/js/bootstrap-3.3.4.js"
    "%kernel.root_dir%/Resources/assets/js/highlight.pack.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function () {
            hljs.initHighlightingOnLoad();
        });
        function resizeIframe(obj) {
            obj.style.height = 0;

        }
    </script>
{% endblock %}

</body>
</html>
