{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="row">
        <div id="main" class="col-sm-12">
            {% block main %}

            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}