{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row" style="margin-bottom:20px">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" style="text-align: center;margin: 0 auto">
            <div class="btn-group" role="group" aria-label="">
                {% for entity in entities %}
                    {% if entity.id==1 %}
                        <a type="button" class="btn btn-success" href="{{ path('dashboard_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                    {% else %}
                        <a type="button" class="btn btn-default" href="{{ path('dashboard_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div id="container1" class="col-lg-12" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div id="container2" class="col-lg-12" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#{% javascripts filter="?jsqueeze" output="js/highcharts.js"#}
    {#"%kernel.root_dir%/Resources/assets/js/highcharts.js"#}
    {#"%kernel.root_dir%/Resources/assets/js/exporting.js" %}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script>
        $(function () {
            $('#container1').highcharts({
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: 'Average Monthly Temperature and Rainfall in Tokyo'
                },
                xAxis: [
                    {
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                        crosshair: true
                    }
                ],
                yAxis: [
                    { // Primary yAxis
                        labels: {
                            format: '{value}°C',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: 'Temperature',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        }
                    },
                    { // Secondary yAxis
                        title: {
                            text: 'Rainfall',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value} mm',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        opposite: true
                    }
                ],
                tooltip: {
                    shared: true
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    x: 120,
                    verticalAlign: 'top',
                    y: 100,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                series: [
                    {
                        name: 'Rainfall',
                        type: 'column',
                        yAxis: 1,
                        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
                        tooltip: {
                            valueSuffix: ' mm'
                        }

                    },
                    {
                        name: 'Temperature',
                        type: 'spline',
                        data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
                        tooltip: {
                            valueSuffix: '°C'
                        }
                    }
                ]
            });
        });
        $(function () {
            $('#container2').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Monthly Average Temperature'
                },
                xAxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },
                yAxis: {
                    title: {
                        text: 'Temperature (°C)'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [
                    {
                        name: 'Tokyo',
                        data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
                    },
                    {
                        name: 'London',
                        data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
                    }
                ]
            });
        });
    </script>
{% endblock %}

