{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row" style="margin-bottom:20px">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" style="text-align: center;margin: 0 auto">
            <div class="btn-group" role="group" aria-label="">
                {% for entity in entities %}
                    {% if entity.id in allowedDashboards %}
                        {% if entity.id==current %}
                            <a type="button" class="btn btn-success"
                               href="{{ path('home_dashboard', { 'id': entity.id }) }}">{{ entity.name }}</a>
                        {% else %}
                            <a type="button" class="btn btn-default"
                               href="{{ path('home_dashboard', { 'id': entity.id }) }}">{{ entity.name }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        {% for i,chart in charts %}
            <div class="chart_view">
                {{ chart.render()|raw }}
            </div>
            <div class="clearfix"></div>
            <hr>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <!-- content dynamically inserted -->
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        // REQUIRED: "jQuery Query Parser" plugin.
        // https://github.com/mattsnider/jquery-plugin-query-parser
        // Minified version here:
        (function ($) {
            var pl = /\+/g, searchStrict = /([^&=]+)=+([^&]*)/g, searchTolerant = /([^&=]+)=?([^&]*)/g, decode = function (s) {
                return decodeURIComponent(s.replace(pl, " "));
            };
            $.parseQuery = function (query, options) {
                var match, o = {}, opts = options || {}, search = opts.tolerant ? searchTolerant : searchStrict;
                if ('?' === query.substring(0, 1)) {
                    query = query.substring(1);
                }
                while (match = search.exec(query)) {
                    o[decode(match[1])] = decode(match[2]);
                }
                return o;
            };
            $.getQuery = function (options) {
                return $.parseQuery(window.location.search, options);
            };
            $.fn.parseQuery = function (options) {
                return $.parseQuery($(this).serialize(), options);
            };
        }(jQuery));

        // YOUTUBE VIDEO CODE
        $(document).ready(function () {

// BOOTSTRAP 3.0 - Open YouTube Video Dynamicaly in Modal Window
// Modal Window for dynamically opening videos
            $('.bootpopup').on('click', function (e) {
                // Store the query string variables and values
                // Uses "jQuery Query Parser" plugin, to allow for various URL formats (could have extra parameters)
                var queryString = $(this).attr('href');

                // Prevent opening of external page
                e.preventDefault();

                // Variables for iFrame code. Width and height from data attributes, else use default.
//                var vidWidth = 560; // default
//                var vidHeight = 315; // default
//                if ($(this).attr('data-width')) {
//                    vidWidth = parseInt($(this).attr('data-width'));
//                }
//                if ($(this).attr('data-height')) {
//                    vidHeight = parseInt($(this).attr('data-height'));
//                }
                //var iFrameCode = '<iframe width="' + vidWidth + '" height="' + vidHeight + '" scrolling="no" allowtransparency="true" allowfullscreen="true" src="'+queryString+'" frameborder="0"></iframe>';

                // Replace Modal HTML with iFrame Embed

                $("<img>")
                        .load(function () {
                            console.log(queryString)
                        })
                        .attr("src", queryString)
                        .addClass("tst")
                        .prependTo("#mediaModal .modal-body");

//                 Set new width of modal window, based on dynamic video content
//                $('#mediaModal').on('show.bs.modal', function () {
//                    // Add video width to left and right padding, to get new width of modal window
//                    var modalBody = $(this).find('.modal-body');
//                    var modalDialog = $(this).find('.modal-dialog');
//                    var newModalWidth = vidWidth + parseInt(modalBody.css("padding-left")) + parseInt(modalBody.css("padding-right"));
//                    newModalWidth += parseInt(modalDialog.css("padding-left")) + parseInt(modalDialog.css("padding-right"));
//                    newModalWidth += 'px';
//                    // Set width of modal (Bootstrap 3.0)
//                    $(this).find('.modal-dialog').css('width', newModalWidth);
//                });

                // Open Modal
                $('#mediaModal').modal();
            });

// Clear modal contents on close.
// There was mention of videos that kept playing in the background.
            $('#mediaModal').on('hidden.bs.modal', function () {
                $('#mediaModal .modal-body').html('');
            });

        });
    </script>
{% endblock %}

