{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Chart edit</h1>

    {% include 'AppBundle:Chart:form.html.twig' with {'form': edit_form} %}

    <ul class="record_actions">
        <li>
            <a class="btn btn-success" href="{{ path('chart') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% include 'AppBundle:Chart:js.html.twig' %}
{% endblock %}