{{ form_start(form) }}
 {{ form_errors(form) }}
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group">
            {{ form_label(form.footer) }}
            {{ form_errors(form.footer) }}
            {{ form_widget(form.footer) }}
        </div>
        <div class="form-group" id="form_type_id">
            {{ form_label(form.typeId) }}
            {{ form_errors(form.typeId) }}
            {{ form_widget(form.typeId) }}
        </div>
        <div class="form-group" id="form_file" style="display: none">
            {% if entity.file_path %}
                <a target="_blank" id="existingFile" href="{{ entity.getWebPath() }}">Existing File <i
                            class="fa fa-file"></i></a>
                <a class="text-danger" id="deleteButton"><i class="fa fa-remove"></i></a>
                <br>
            {% endif %}
            {{ form_label(form.file) }}
            {{ form_errors(form.file) }}
            {{ form_widget(form.file) }}
        </div>

        <div class="form-group" id="wsdlUrl" style="display: none">
            {{ form_label(form.wsdlUrl) }}
            {{ form_errors(form.wsdlUrl) }}
            {{ form_widget(form.wsdlUrl) }}
        </div>

        <div class="form-group" id="functionName" style="display: none">
            {{ form_label(form.functionName) }}
            {{ form_errors(form.functionName) }}
            {{ form_widget(form.functionName) }}
        </div>

        <div class="form-group" id="form_sql" style="display: none">
            {{ form_label(form.data) }}
            {{ form_errors(form.data) }}
            {{ form_widget(form.data) }}
        </div>

        <div class="form-group" id="layoutGraphScript" style="display: none">
            {{ form_label(form.layoutGraphScript) }}
            {{ form_errors(form.layoutGraphScript) }}
            {{ form_widget(form.layoutGraphScript) }}
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="form-group">
            {{ form_label(form.departmentId) }}
            {{ form_errors(form.departmentId) }}
            {{ form_widget(form.departmentId) }}
        </div>
        <div class="form-group">
            {{ form_label(form.dashboardId) }}
            {{ form_errors(form.dashboardId) }}
            {{ form_widget(form.dashboardId) }}
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <h4>Layout</h4>
        <hr>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="form-group">
            {{ form_label(form.order) }}
            {{ form_errors(form.order) }}
            {{ form_widget(form.order) }}
        </div>
        <div class="form-group">
            {{ form_label(form.width) }}
            {{ form_errors(form.width) }}
            {{ form_widget(form.width) }}
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="form-group">
            {{ form_label(form.showTitle) }}
            {{ form_errors(form.showTitle) }}
            {{ form_widget(form.showTitle) }}
        </div>
    </div>
</div>
{{ form_end(form) }}