{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Manage Charts</h1>

    <a class="pull-right btn btn-primary" href="{{ path('chart_new') }}">
        New
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Footer</th>
            <th>Type</th>
            <th>File</th>
            <th>Department</th>
            <th>DashBoard</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    {{ entity.title|length > 50 ? entity.title|slice(0, 40) ~ '...' : entity.title }}
                </td>
                <td>
                    {{ entity.description|length > 50 ? entity.description|slice(0, 40) ~ '...' : entity.description }}
                </td>
                <td>
                    {{ entity.footer|length > 50 ? entity.footer|slice(0, 40) ~ '...' : entity.footer }}
                </td>
                <td>{{ entity.type.name }}</td>
                <td>
                    {% if entity.file_path %}
                        <a target="_blank" href="{{ entity.getWebPath() }}"><i class="fa fa-file"></i></a>
                    {% endif %}
                </td>
                <td>	
                {% if entity.department %}
	                {{ entity.department.name }}
                {% endif %}
                </td>
                <td>
                {% if entity.dashboard %}
	                {{ entity.dashboard.name }}
                {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('chart_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('chart_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}