<script>
    jQuery(document).ready(function () {
        showHideFields();
        jQuery("#form_type_id").change(function () {
            showHideFields();
        });
        {% if entity.id %}
        $('#deleteButton').on('click', function () {
            aButtonPressed();
        });
        {% endif %}
    });
    function showHideFields() {
        var needFile = ["image", "pdf", "excel", "Mango"];
        var needSql = ["sql"];
        var needLink = ["link"];
        var value = jQuery("#form_type_id select").find('option:selected').text();
        if (needFile.indexOf(value) >= 0) {
            jQuery("#form_file").show();
            jQuery("#wsdlUrl").hide();
            jQuery("#functionName").hide();
            jQuery("#layoutGraphScript").hide();
            jQuery("#form_sql").hide();
        }
        else if (needSql.indexOf(value) >= 0) {
            jQuery("#wsdlUrl").show();
            jQuery("#functionName").show();
            jQuery("#layoutGraphScript").show();
            jQuery("#form_file").hide();
            jQuery("#form_sql").show();
            jQuery("#form_sql").closest("#form_sql").find("label").text('Parameter (separated per comma "," )');
        }
        else if (needLink.indexOf(value) >= 0) {
            jQuery("#wsdlUrl").hide();
            jQuery("#functionName").hide();
            jQuery("#layoutGraphScript").hide();
            jQuery("#form_file").hide();
            jQuery("#form_sql").show();
            jQuery("#form_sql").closest("#form_sql").find("label").text('Link Url');
        }
        else {
            jQuery("#wsdlUrl").hide();
            jQuery("#functionName").hide();
            jQuery("#layoutGraphScript").hide();
            jQuery("#form_file").hide();
            jQuery("#form_sql").hide();
        }
    }
    {% if entity.id %}
    function aButtonPressed() {
        $.get('{{path('delete_file')}}',
                {id: {{ entity.id }}},
                function (response) {
                    if (response.success) {//dummy check
                        alert("File Removed");
                        jQuery("#deleteButton").hide();
                        jQuery("#existingFile").hide();
                    }
                }, "json");
    }
    {% endif %}

</script>