{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Chart creation</h1>

    {% include 'AppBundle:Chart:form.html.twig' %}

    <ul class="record_actions">
        <li>
            <a class="btn btn-success" href="{{ path('chart') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% include 'AppBundle:Chart:js.html.twig' %}
{% endblock %}