{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Chart</h1>

    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Chart name (internal)</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Chart header (title)</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Chart footer (reference, comments)</th>
            <td>{{ entity.footer }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ entity.type.name }}</td>
        </tr>
        <tr>
            <th>Department Name</th>
            <td>{{ entity.department.name }}</td>
        </tr>
        <tr>
            <th>Dashboard</th>
            <td>{{ entity.dashboard.name }}</td>
        </tr>

        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a class="btn btn-success" href="{{ path('chart') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('chart_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
