<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}MOF MLD{% endblock %}</title>

    {% block stylesheets %}

        {% stylesheets filter="scssphp" output="css/app.css"
        "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
        "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
        "%kernel.root_dir%/Resources/assets/css/*.css"
        "%kernel.root_dir%/Resources/assets/scss/main.scss"
        "%kernel.root_dir%/Resources/assets/scss/crud.scss" %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script>
        setInterval(function () {
            location.reload();
        }, 300000);
    </script>
</head>
<body>
{% block body %}
    <table class="table" width="100%">
        <tr>

            {% for th in columnArray %}
                <th>{{ th }}</th>
            {% endfor %}
        </tr>
        {% for tr in data %}
            <tr>
                {% for td in tr %}
                    <td>{{ td }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
</body>
</html>