.table {
  ul {
    list-style: none;
    padding-left: 0;
    li {
      display: inline;
      padding-left: 10px;
      a {
        text-decoration: none;
      }
    }
  }
}

.record_actions {
  list-style: none;
  padding-left: 0;
  li {
    display: inline;
    padding-left: 10px;
    float: left;
    .form-group {
      button {
        background: #c87f0a;
      }
    }
  }
  :after {
    clear: both;
  }
}
