/*!
 *  Symfony Demo Application by @symfony
 *  License: MIT License
 */
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/flatly-theme/variables";

//
// Typography
// --------------------------------------------------

p, ul, ol {
  font-size: $font-size-large;
  margin-bottom: 1.5em;
}

// Text labels
.text-danger,
.text-danger:hover {
  color: $brand-danger;
}

//
// Icons
// --------------------------------------------------

i {
  margin-right: .25em;
}

//
// Page elements
// --------------------------------------------------

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

// Header
header {
  margin-bottom: 2em;

  ul.nav li {
    margin-bottom: 0;
  }

  .locales a {
    padding-right: 10px;
  }
}

// Body contents
.body-container {
  -webkit-flex: 1;
  flex: 1;

  // needed to prevent pages with a very small height and browsers not supporting flex
  min-height: 600px;

  #main h1,
  #main h2 {
    margin-top: 0;
  }
}

//
// Forms
// --------------------------------------------------

// Form errors
.form-group.has-error .form-control {
  border-color: $brand-danger;
}

.form-group.has-error .control-label {
  color: $brand-danger;
}

.form-group.has-error .help-block {
  background-color: $brand-danger;
  color: #FFF;
  font-size: $font-size-base;
  padding: 1em;

  ul {
    margin-bottom: 0;
  }
}

// Footer
footer {
  background: $gray-lighter;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;

  p {
    color: $gray-dark;
    font-size: $font-size-small;
    margin-bottom: .25em;
  }

  #footer-resources {
    text-align: right;

    i {
      color: $gray-dark;
      font-size: 1.5 * $font-size-large;
      margin-left: .5em;
    }
  }
}

// Home Page
.chart_view {
  .chart_title {
    font-size: 17px;
    font-weight: bold;
  }
  .figure {
    position: relative;
    i {
      font-size: 18px;
      position: absolute;
      left: 90%;
      bottom: 15px;
    }
    .figure-caption {
      padding-top: 10px;
    }
  }
}

.chart_frame {

  i {
    font-size: 18px;
    position: absolute;
    left: 90%;
    bottom: 15px;
  }
}

iframe {
  overflow: scroll;
  border: 1px solid black;
}