{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Manage Dashboard Access</h1>

    <div class="row">
        <form action="{{ path('group_dashboard_update', { 'id': id }) }}" method="post">
            <br>
            <fieldset>
                {% for key,dashboards in modules %}
                    <div class="col-sm-6" style="margin-bottom: 10px">
                        <legend><i class="fa fa-lock"></i> {{ key }}</legend>
                        {% for dashId,dash in dashboards %}
                            <div class="form-inline" style="margin-bottom: 4px">
                                <label class="col-xs-2 control-label" for="dash_{{ dashId }}">{{ dash['name'] }}</label>

                                <div class="col-xs-10">
                                    <input type="checkbox" id="dash_{{ dashId }}" name="dashboards[dash_{{ dashId }}]"
                                           value="1"
                                           class="col-sm-10"  {{ dash['checked'] }} />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </fieldset>
            <br>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('save_dashboard') }}"/>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> {{ 'action.save'|trans }}
            </button>

            <a class="btn btn-success" href="{{ path('group') }}">
                Back to the list
            </a>
        </form>
    </div>
{% endblock %}
