{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Manage Groups</h1>

    <a class="pull-right btn btn-primary" href="{{ path('group_new') }}">
        New
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Permissions</th>
            <th>DashBoards</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('group_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td><a href="{{ path('permission_list', { 'id': entity.id }) }}"><i class="fa fa-check"></i> Edit</a>
                </td>
                <td><a href="{{ path('dashboard_list', { 'id': entity.id }) }}"><i class="fa fa-check"></i> Edit</a>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('group_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('group_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
