{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Manage Users</h1>

    <a class="pull-right btn btn-primary" href="{{ path('user_new') }}">
        New
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Group</th>
            <th>Enabled</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.firstname }} {{ entity.lastname }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.username }}</td>
                <td>
                    {% if entity.groups %}
                        {{ entity.groups.name }}
                    {% endif %}
                </td>
                <td>
                    {% if entity.enabled %}
                        YES
                    {% else %}
                        NO
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
