{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a class="btn btn-success" href="{{ path('user') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
