{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a class="btn btn-success" href="{{ path('user') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('user_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
